<div class="container">
    <form action="/users/add" method="post" class="addForm">
        <label for="name">name :</label><br>
        <input type="text" name="name" id="name"><br>
        <label for="email">email :</label><br>
        <input type="email" name="email" id="email"><br>
        <label for="mobileNo">mobileNo :</label><br>
        <input type="number" name="mobileNO" id="mobileNo"><br>
        <label for="status">status :</label><br>
        <select name="active" id="active">
            <option value="true">active</option>
            <option value="false">disable</option>
        </select><br>
        <button type="submit">submit</button>
    </form>
</div>